:root {
    --main-background-color: #ffffff;
    --secondary-background-color: #F5F4FA;
    --heading-background-color: #ffffff;
    --footer-background-color: #2F303A;
    --main-color: #212121;
    --secondary-color: #757575;
    --third-turn-color: #E5E5E5;
    --accent-primary-color: #2196F3;
    --accent-secondary-color: #ffffff;
    --secondary-logo-color: #AFB1B8;
    --button-color: #ffffff;
    --button-background: #2196F3;
}

.body {
    color: var(--main-color);
    font-family: "Roboto", sans-serif;
    background-color: var(--main-background-color);
    letter-spacing: 0.03em;
}

.body ul {
    list-style-type: none;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    justify-content: center;
    text-decoration: none;
    padding-top: 25px;
    padding-bottom: 25px;
}

.header a {
    text-decoration: none;
}

.header-contacts {
    color: var(--main-color);
}

.header-nav {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    display: flex;
}

.header-nav>li:not(:last-child) {
    margin-right: 50px;
}

.header-logo {
    color: #000000;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    /* line-height: 1.9; */
    text-decoration: none;
    margin-right: 85px;
}

.logo-color {
    color: #2196F3;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    /* line-height: 1.9; */
}

.site-nav-accent a:hover,
.site-nav-accent a:focus {
    color: var(--accent-primary-color);
}

.header-accent:hover,
.header-accent:focus {
    color: var(--accent-primary-color)
}

.header-link {
    color: var(--secondary-color);
}

.header-link:first-child {
    margin-right: 50px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.hero {
    margin-left: auto;
    margin-right: auto;
}

.hero-text {
    margin-top: 0;
    margin-bottom: 46px;
    color: #ffffff;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
}

.button {
    padding: 10px 32px;
    color: var(--button-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--button-background);
    border: none;
    border-radius: 4px;
}

.values-section .container {
    padding-top: 94px;
    padding-bottom: 94px;
    border-bottom: 1px solid #ECECEC;
}

.values>li {
    width: 278px;
    margin-right: 30px;
}

.values p {
    color: var(--secondary-color);
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    margin-top: 0;
    margin-bottom: 0;
}

.values h3 {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-top: 0;
}

.values {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.values:last-child {
    margin-right: 0;
}

.specialization {
    padding-top: 94px;
    padding-bottom: 94px;
}

.specialization h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 0;
}

.specialization ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
}

.specialization li {
    width: calc((100% - 60px) / 3);
}

.specialization-img {
    display: block;
}

.specialization p {
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    text-align: center;
}

.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--secondary-background-color);
}

.team-card {
    width: calc((100% - 90px) / 4);
    background-color: var(--main-background-color);
    padding-bottom: 24px;
    border-radius: 4px;
}

.team-img {
    display: block;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
}

.team-profession {
    color: var(--secondary-color);
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-top: 0;
    margin-bottom: 16px;
    /* padding-bottom: 16px; */
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}

.team-flex {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    padding-bottom: 0;
    margin: 0;
}

.team-flex img {
    margin-bottom: 30px;
}

.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients ul {
    margin: 0;
}

.clients h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.footer {
    background-color: var(--footer-background-color);
    padding-top: 48px;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
}

.footer-flex b {
    align-items: baseline;
}

.footer-contacts a {
    text-decoration: none;
}

.footer-address>p {
    margin: 0;
    padding: 0;
    margin-bottom: 9px;
}

.footer-logo {
    display: block;
    color: #ffffff;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 10px;
}

.footer .logo-color {
    line-height: 0;
}

.footer-address {
    color: #ffffff;
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
}

.footer-address>a {
    display: flex;
    flex-direction: column;
}

.footer-mail {
    display: inline-block;
    margin-bottom: 9px;
}

.footer-address a {
    color: rgba(255, 255, 255, 0.6);
}

.footer-join>b {
    color: var(--third-turn-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.footer-submit>b {
    color: var(--third-turn-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.footer-submit>ul {
    display: flex;
    margin: 0;
}

.footer-submit li {
    display: flex;
}

.footer-submit>b {
    display: inline-block;
    margin-bottom: 21px;
}

.footer-input-descr {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
}

.footer-input {
    background-color: var(--footer-background-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
}

.footer button {
    margin-top: 0;
}

.copyright {
    color: rgba(255, 255, 255, 0.4);
    font-size: 12px;
    line-height: 2;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 18px;
    padding-bottom: 21px;
}

.portfolio-filter button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    background-color: var(--secondary-background-color);
    border-radius: 4px;
    border: none;
}

.portfolio-section {
    border-top: 1px solid #ECECEC;
    padding-top: 93px;
}

.portfolio-filter {
    display: flex;
    padding-left: 0;
    padding-bottom: 50px;
    margin: 0;
    justify-content: center;
}

.portfolio-filter>li {
    margin-right: 8px;
}

.portfolio-filter>li:last-child {
    margin-right: 0;
}

.portfolio-filter button {
    padding: 6px 22px;
}

.portfolio-filter button:hover,
.portfolio-filter button:focus {
    background-color: var(--accent-primary-color);
    color: var(--accent-secondary-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
}

.portfolio-projects p {
    margin: 0;
    padding: 0 24px 20px 24px;
    color: var(--secondary-color);
    font-size: 16px;
    line-height: 1.87;
}

.portfolio-projects h2 {
    padding: 0 24px 4px 24px;
    margin: 0;
    line-height: 2;
    letter-spacing: 0.06em;
    font-size: 18px;
}

.portfolio-projects {
    display: flex;
    padding-left: 0;
    flex-wrap: wrap;
    padding-bottom: 94px;
    margin-bottom: 0;
    margin-top: 0;
}

.portfolio-projects>li {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    margin-bottom: 30px;
}

.portfolio-projects>li:nth-child(3n) {
    margin-right: 0;
}

.portfolio-projects>li:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.portfolio-projects img {
    display: block;
}